@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";
#logo {
 	text-transform: uppercase;
 	float: left;
	display: block;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 white;
	 &:hover {
    	text-decoration: none;
    	text-shadow: none;
    	background-color: transparent;
  	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
	background-color: transparent !important;
	padding: 0px !important;
	display: inline !important;
	input {
		border-color: #953b39;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
	}
}